.row{
    margin: 10px auto;
    padding: 10px auto;
    border: 2px ;
}
.form-select{
    margin: auto;
    padding: auto;
    Width: 30%;
}

.btn-dark{
    opacity: 0.65;
}

.btn-red{
    background-color: #e72e15;
}

.btn-blue{
    background-color: #2a15e7;
}

.btn-black{
    background-color: #110201;
}

.btn-green{
    background-color: #0aa312;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
