<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cuenta | tresCDisenos</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: black; active-color: white;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="galeria">Galeria</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand mb-0 px-3" href="index">
        <img src="static/Logos/Logo_Blanco.png" height="65" width="65" class="d-inline-block align-top">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://wa.me/c/573222870841" target="_blank">
              <img src="static/Logos/Logowp.png" height="20" width="20">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/trescdisenos/" target="_blank">
              <img src="static/Logos/Logoig.png" height="20" width="20">
            </a>
          </li>
        </ul>

      </div>

      <a class="navbar-brand mx-2" href="registro">
        <img src="static/Logos/bolsalogo.png" height="43" width="35" class="d-inline-block align-top">
      </a>

    </div>
  </nav>
  <div class="container-fluid form-control card mt-5">
    <div class="row form-floating">
      <div class="col-md-1"></div>
      <div class="col-md-10 gy-5">
        <div class="row py-3 shadow-5">
          <div class="col-12 mb-1">
            <div class="card-title align-text-bottom">
              <h1 class="display-5">
                Hola {{user.username}} 
              </h1>
              <hr/>
              <section>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="fw-bold">
                        Información
                      </td>
                      <td class="fw-bold">
                        Dirección
                      </td>
                      <td class="fw-bold">
                        Método de pago
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>{{user.email}}</p>
                      </td>
                      <td>
                        <form action="" method="post" id="info">
                          {% csrf_token %}
                          {% if msg != "" %}
                          <p style="text-align: center; width:auto; color:rgb(16, 16, 133);">{{msg}}</p>
                          {% endif %}
                          <div class="input-contenedor">
                             <i class="fas fa-user icon"></i>
                             <input type="number" name="telefono" placeholder="Teléfono" required>
                          </div>
                          <br/>
                          <div class="input-contenedor">
                             <i class="fas fa-user icon"></i>
                             <input type="text" name="direccion" placeholder="Dirección" required>
                          </div>
                          <br/>
                          <div class="input-contenedor">
                             <i class="fas fa-user icon"></i>
                             <input type="text" name="barrio" placeholder="Barrio" required>
                          </div>
                          <br/>
                          <div class="input-contenedor">
                              <i class="fas fa-user icon"></i>
                              <textarea form="info" name="observaciones" placeholder="Observaciones" rows="5" cols="40">
                              </textarea>
                          </div>
                          <br/>
                          <button type="submit" class="btn btn-primary">Guardar Info</button>
                      </form>
                      </td>
                      <td>
                        <p>No hay método de pago registrado</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <a href="url"  style="float: right; color: black;">Realizar Compra</a>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</body>

</html>
