<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="static/estilos.css">
	

</head>  
<body>
    <!----al darle click en el boton login, la informacion contenida se enviara a la ruta login
        en este caso la ruta login---->
    <form class="formulario" method="POST">
    <!---codigo jinja que genera un token del formulario-->
        {% csrf_token %}
    <!----en tal caso que haya fallado el login se muestra una advertencia-->
        {{error}}
    <h1>Iniciar sesion</h1>
     <div class="contenedor">
     
     
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" name="correo_electronico" placeholder="Correo Electronico"
         >
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" name ="contraseña" placeholder="Contraseña">

         
         </div>
         <input type="submit" value="Login" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="registro">Registrate </a></p>
     </div>
    </form>
</body>
</html>