<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articulos | tresCDisenos</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/styles2.css">
  <script src="static/js/jquery-3.6.1.js"></script>
  <script src="static/js/script2.js"></script>
</head>

<body>

  <!--- Encabezado - barra de navegacion -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark sticky-top"
    style="background-color: black; active-color: white;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="galeria">Galeria</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand mb-0 px-3" href="index.html">
        <img src="static/Logos/Logo_Blanco.png" height="65" width="65" class="d-inline-block align-top">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://wa.me/c/573222870841" target="_blank">
              <img src="static/Logos/Logowp.png" height="20" width="20">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/trescdisenos/" target="_blank">
              <img src="static/Logos/Logoig.png" height="20" width="20">
            </a>
          </li>
        </ul>

      </div>

      <a class="navbar-brand mx-2" href="registro">
        <img src="static/Logos/bolsalogo.png" height="43" width="35" class="d-inline-block align-top">
      </a>

    </div>
  </nav>

  <!---  Cuerpo de la página -->
  <div class="wrap">
    <!--- Barra de categorías para los artículos -->
    <div class="items_options">
      <a href="" class="i_option" category="p_superiores">PRENDAS SUPERIORES</a>
      <a href="" class="i_option" category="p_oferta"
        style="border-left: thick solid #ABB2B9; border-left-width: 1px; border-right: thick solid #ABB2B9; border-right-width: 1px;">OFERTA</a>
      <a href="" class="i_option" category="p_inferiores">PRENDAS INFERIORES</a>
    </div>
    <!--- Lista de artículos -->
    <section class="items_list">
      {% for art in items %}
        {% if art.oferta == True %}
          {% if art.tipo_articulo == 'Prendas superiores' %}
            <div class="item" category="p_superiores" offer="si">
          {% else %}
            <div class="item" category="p_inferiores" offer="si">
          {% endif %}
        {% else %}
          {% if art.tipo_articulo == 'Prendas superiores' %}
            <div class="item" category="p_superiores" offer="no">
          {% else %}
            <div class="item" category="p_inferiores" offer="no">
          {% endif %}
        {% endif %}
          <img src="{{ art.foto1.url }}" alt="">
          <a href="#">{{art.nombre}}</a>
          <h5>{{art.precio}}</h5>
        </div>

      {% endfor %}

    </section>

  </div>
</body>

</html>